<% content_for :title, @photo.title %>
<h2><%= @photo.title%></h2>
<p><%= @photo.description %></p>

<p><%= @photo.user.email %></p>

<%= link_to 'Back', root_path, class: 'btn-sm btn-warning' %>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_photo_path, class: 'btn-sm btn-info' %>
<%= link_to 'Delete', photo_path, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn-sm btn-danger'  %>
<% end %>